<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="2.3" package="soil.ndsu" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="33" />
	<application android:label="NDSU Nitrogen Calculator" android:theme="@style/MainTheme" android:icon="@mipmap/nitrogen"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>